/*
Fonts
https://fonts.google.com/specimen/Poppins?selection.family=Poppins:wght@400;500|Roboto+Mono:wght@400;500&sidebar.open
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap');

:global(:root) {
  --text-color: #f9f9f9;
  --margin: 1rem 1.8rem;
}

:global(*) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:global(body) {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c;
}

.link {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.titleBar {
  margin: var(--margin);
}

.mainTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: var(--text-color);
  padding-top: 0.2rem;
}

.mainDescription {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 0.2rem;
}

.statisticsDiv {
  margin: var(--margin);
}

.name,
.detailsName,
.data,
.detailsData {
  font-family: 'Roboto Mono', monospace;
  color: var(--text-color);
}

.name {
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.detailsName {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}

.data {
  font-weight: 400;
  font-size: 2.2rem;
}

.detailsData {
  font-weight: 400;
  font-size: 2rem;
}

.detailedStatisticsWrapper {
  overflow-y: hidden;
}

.spacing {
  height: 2.8rem;
}

.tapMe {
  float: right;
  margin-top: 1.4rem;
  margin-right: 3.2rem;
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
}

.newsHeader {
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  margin-right: 2rem;
  font-weight: 400;
  text-align: end;
}

.newsWrapper {
  margin-top: 0.6rem;
  background-color: rgb(238, 238, 238);
  border-radius: 20px 20px 0px 0px;
  padding: 0.6rem 1.2rem;
}

.news {
  background-color: rgb(245, 245, 245);
  border-radius: inherit;
  padding: 1.2rem 1.2rem;
  color: rgb(10, 10, 10);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.089);
  width: 100%;
}

.newsRipples {
  border-radius: 8px;
  width: 100%;
}

.newsSource {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgb(90, 90, 90);
  letter-spacing: 1.8px;
  font-weight: 700;
}

.newsTitle {
  margin-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 400;
}
