:root {
  --white-text: #dddddd;
}
.main-div {
  width: 400px;
  height: 220px;
  background-image: linear-gradient(90deg, rgb(41, 41, 41), rgb(10, 10, 10));
  border-radius: 10px;
}

.header {
  position: absolute;
  text-transform: uppercase;
  color: var(--white-text);
  letter-spacing: 5px;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-left: 24px;
}

.center-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.data {
  flex: 0 0 120px;
  position: relative;
  color: var(--white-text);
  text-align: center;
  font-size: 3rem;
}
